* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-size: 15px;
}
body {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: black;
}

header {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}